<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>install.py</string>
			<key>preferredName</key>
			<string>Install</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>register.py</string>
			<key>preferredName</key>
			<string>Register</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>settings.py</string>
			<key>preferredName</key>
			<string>Settings</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>updates.py</string>
			<key>preferredName</key>
			<string>Updates</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
		<key>description</key>
		<string>Package manager for RoboFont extensions</string>
		<key>repository</key>
		<string>jackjennings/Mechanic</string>
	</dict>
	<key>developer</key>
	<string>Jack Jennings</string>
	<key>developerURL</key>
	<string>http://robofontmechanic.com</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<true/>
	<key>mainScript</key>
	<string>_startup.py</string>
	<key>name</key>
	<string>Mechanic</string>
	<key>timeStamp</key>
	<real>1424159386.811517</real>
	<key>version</key>
	<string>1.0.0</string>
</dict>
</plist>
